@import "../../colors.scss";
@import "../../mixin.scss";

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Color-Grey;
    padding: 10px 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    color: $Color-Black;
    transform: scale(1);
    align-self: stretch;
    transition: all 1s;

    @include small4 {
        font-size: 16px;
    }

    &:hover {
        transform: scale(1.1);
        background-color: $Color-White;
    }
}

.rectangle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    background-color: $Color-Grey;
    color: $Color-Black;
    transition: all 1s;

    @include large {
        padding: 15px 15px;
        font-size: 18px;
    }

    @include small1 {
        padding: 10px 10px;
        font-size: 16px;
    }

    &:hover {
        background-color: $Color-Dark-Grey;
    }
}

.Expand-button {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: $Color-Grey;
    word-spacing: 2px;
    transition: all 0.1s;

    @include medium4 {
        font-size: 18px;
    }



    &:hover {
        color: $Color-Black;
    }


}



.icon {
    font-size: 25px;
    padding: 0 10px;
    fill: currentColor;

    @include medium4 {
        font-size: 22px;
    }

    @include small1 {
        font-size: 18px;
    }

    @include small3 {
        font-size: 16px;
    }

    @include small4 {
        font-size: 14px;
        padding: 0 5px;
    }

    @include small5 {
        font-size: 12px;
        padding: 0 3px;
    }

    @include small5 {
        font-size: 10px;
        padding: 0 3px;
    }

    .show {
        display: flex;
    }
}