@import '../../colors.scss';
@import "../../mixin.scss";

.cover-img {
    position: relative;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.about-us-heading {
    position: absolute;
    font-size: 70px;
    color: $Color-White;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include large {
        font-size: 60px;
    }

    @include medium {
        font-size: 50px;
    }

    @include small1 {
        font-size: 40px;
    }

    @include small4 {
        font-size: 30px;
    }
}