$base-color: #e7e7e7;
$black-color: #000000;

.home-container {
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

    .right-container {
        width: 500px;
        z-index: 900;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        display: flex;

    }


    .background-image {

        height: 324px;
        width: 324px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        clip-path: polygon(70% 0, 0 76%, 100% 100%);
        animation: Skew 4s infinite;
        transform: rotate(20deg);
        animation-direction: normal;
    }

    .image-side-text-container {
        width: 165px;
        display: inline-block;
        padding: 5px 10px;

    }

    .image-side-text {
        color: #333333;
        font-size: 15px;
        line-height: 32px;
        text-align: center;
        font-weight: 600;

    }


    .bg-blue {
        background-color: #7ec3e9;
        z-index: 1000;
        margin-left: 305px;
    }

    .bg-brown {
        background-color: #efbd82;
        height: 45px;
        margin-top: 234px;
        margin-right: -6px;
        z-index: 1500;
    }

    .bg-gray {
        background-color: $base-color;
        margin-left: 400px;
    }

    .left-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            width: 700px;
            font-size: 25px;
            line-height: 1.6;
            background-color: $base-color ;
            padding: 40px 25px;
            font-weight: 400;
            color: $black-color;
            font-family: 'IM Fell Great Primer SC', serif;
        }
    }
}

@keyframes Skew {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}